<%- include('./partials/headerProtected'); -%>

            <li class="nav-item"><a href="/" class="nav-link ">Dashboard</a></li>
            <li class="nav-item"><a href="/categories" class="nav-link ">Categories</a></li>         
            <li class="nav-item"><a href="/allproducts" class="nav-link ">Products</a></li>
            <li class="nav-item"><a href="/promos" class="nav-link  ">Promos</a></li>   
            <li class="nav-item"><a href="/guide" class="nav-link" aria-current="page">Guide</a></li>
        </ul>
    </header>

    <main class="flex-shrink-0">
        <div class="container py-3  border-bottom">

            <h2 class="mb-4 py-3 border-bottom">Category: <%= title %></h2>            
            <p>Welcome, <%= username %>!</p>

            <form method="POST" action="/logout">
                <button class="btn btn-outline-primary me-2">Logout</button>        
            </form>

        </div>
        <div class="container mt-3">
            <% if(locals.error && locals.error !=='' && locals.error !== undefined) { %>
                
                <div class="alert alert-warning" role="alert">
                    Error: <%= error %>
                </div>
                <div class="card-body m-auto">
                    <a href="/categories" class="btn btn-primary ">Back To All Categories</a>
                </div>
                
            <% } else { %>
                <div class="row row-cols-1 row-cols-md-1 g-4 m-3">
                    <div class="col m-6">
                        <div class="card w-50 m-auto text-center">
                            <div class="card-header">
                                <%= name %> Category
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><%= name %></h5>
                                <p class="card-text"><%= description %></p>
                            </div>
                            <div class="card-body">
                                <a href=<%= `${url}/edit` %> class="btn btn-primary ">Edit <%= name %></a>
                                <a href=<%= `${url}/delete` %> class="btn btn-primary ">Delete <%= name %></a>
                            </div>
                            <hr>
                            <div class="card-body">
                                <a href="/categories" class="btn btn-primary ">Back To All Categories</a>
                            </div>
                        </div>
                    </div>
                
                </div>
            <% } %>
           
        </div>
    </main>
    
<%- include('./partials/footer'); -%>
