<%- include('./partials/header'); -%>
    <h1><%= title %></h1>
    <p>Welcome to the <%= name %> page!</p>

    <div>
        <h2>Category: <%= name %></h2>
        <hr>
        <hr>
                    <div>
                        <h3><%= name %></h3>
                        <p>Description: <%= description %></p>
                        <div><a href="">Edit Category: <strong><%= name %> </strong></a></div>
                        <div><a href="">Delete Category: <strong><%= name %></strong></a></div>
                        <hr>
                        <div><a href="/">Back to All Categories Category</a></div>
                    </div>
                </div>
                <hr>
        </div>
    </div>

<%- include('./partials/footer'); -%>
