<%- include('./partials/header'); -%>
    <h1><%= title %></h1>
    <p>Welcome to the home page!</p>
    <p><strong><%= all_categories[0].name %></strong></p>
    <p><%= all_categories[0].description %></p>
<%- include('./partials/footer'); -%>
