<%- include('./partials/headerProtected'); -%>

            <li class="nav-item"><a href="/" class="nav-link ">Dashboard</a></li>
            <li class="nav-item"><a href="/categories" class="nav-link  ">Categories</a></li>      
            <li class="nav-item"><a href="/allproducts" class="nav-link  active">Products</a></li>
            <li class="nav-item"><a href="/promos" class="nav-link ">Promos</a></li>
            <li class="nav-item"><a href="/guide" class="nav-link" >Guide</a></li>
        </ul>
    </header>

    <main class="flex-shrink-0">
        <div class="container py-3  ">
            
            <p>Welcome, <%= username %> !</p>

            <form method="POST" action="/logout">
                <button class="btn btn-outline-primary me-2">Logout</button>        
            </form>

        </div>
        <hr>
        <div class="container">
            <h2 class="py-2 text-center "><%= title %></h2>            
        </div>
        <hr>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4 m-3">

                <% if(locals.error && error !=='' && error !== undefined) { %>
                    <div class="alert alert-warning w-50 m-auto" role="alert">
                        Error: <%= error %>
                    </div>        
                <% } else if (locals.success && success !=='' && success !== undefined) { %>
                    <div class="alert alert-success w-50 m-auto" role="alert">
                        Success: <%= success %>
                    </div>
                <% } %>
            </div>
            
            <div class="row row-cols-1 row-cols-md-1 g-4 m-3">
                <div class="col m-6">
                    <div class="card w-50 m-auto text-center">
                        <% if(locals.productDetails) { %> 
                        <div class="card-header">
                            <%= productDetails.name %> Category
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-3 border d-flex align-items-center  py-2">Name:</div>
                                    <div class="col-9 border d-flex align-items-center py-2"><%= productDetails.name %></div>
                                </div>
                                <div class="row">
                                    <div class="col-3 border d-flex align-items-center py-2">Description:</div>
                                    <div class="col-9 border d-flex align-items-center py-2"><%= productDetails.description %></div>
                                </div>
                                <div class="row">
                                    <div class="col-3 border d-flex align-items-center py-2">Category:</div>
                                    <div class="col-9 border d-flex align-items-center py-2"><%= productDetails.category.name %></div>
                                </div>
                                <div class="row">
                                    <div class="col-3 border d-flex align-items-center py-2">Price Per Unit:</div>
                                    <div class="col-9 border d-flex align-items-center py-2"><%= productDetails.price %></div>
                                </div>
                                <div class="row">
                                    <div class="col-3 border d-flex align-items-center py-2">Stock Available:</div>
                                    <div class="col-9 border d-flex align-items-center py-2"><%= productDetails.stock %></div>
                                </div>
                                <div class="row">
                                    <div class="col-3 border d-flex align-items-center py-2">Product Image:</div>
                                    <div class="col-9 border d-flex align-items-center py-2">
                                        <img src="../images/products/<%= productDetails.imageFilename %>" class="img-thumbnail">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-body">
                            <a href=<%= `${productDetails.url}/edit` %> class="btn btn-primary ">Edit <%= productDetails.name %></a>
                            <a href=<%= `${productDetails.url}/delete` %> class="btn btn-primary ">Delete <%= productDetails.name %></a>
                        </div>
                        <% } %>
                        <hr>
                        <div class="card-body  text-center">
                            <a href="/allProducts" class="btn btn-primary ">Back To All Products</a>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </main>
    
<%- include('./partials/footer'); -%>
