<%- include('./partials/headerProtected'); -%>

            <li class="nav-item"><a href="/" class="nav-link ">Dashboard</a></li>
            <li class="nav-item"><a href="/categories" class="nav-link  ">Categories</a></li>      
            <li class="nav-item"><a href="/allproducts" class="nav-link  ">Products</a></li>
            <li class="nav-item"><a href="/promos" class="nav-link  active">Promos</a></li>
            <li class="nav-item"><a href="/guide" class="nav-link" >Guide</a></li>
        </ul>
    </header>

    <main class="flex-shrink-0">
        <div class="container py-3  ">

            <p>Welcome, <%= username %> !</p>

            <form method="POST" action="/logout">
                <button class="btn btn-outline-primary me-2">Logout</button>        
            </form>

        </div>
        <hr>
        <div class="container">
            <h2 class="py-2 text-center ">Add a New Promo</h2>
            <div class="card-body text-center">
                <a href="/promos/create" class="btn btn-primary ">Add A New Promo </a>
            </div>
        </div>
        <hr>
        <div class="container">
            <h2 class="py-2 text-center ">All Promos</h2>            
            <div class="row row-cols-1 row-cols-md-3 g-4 m-3">
                <form method="POST" class="w-50 m-auto">
                    <div class="input-group mb-3 m-auto">
                        <label class="input-group-text" for="promoCategory">Promo Category</label>
                        <select class="form-select" id="promoCategory" name="promoCategory">
                            <option value="all">All</option>
                            <% if(locals.promoCategoryList && promoCategoryList.length > 0) { %>
                                <% promoCategoryList.forEach((promoCategory=> { %>
                                    <option value="<%= promoCategory.id %>" <% if(promoCategory.id == selectedPromoCategory) { %> selected <% } %> ><%= promoCategory.name %></option>
                                <% })) %>
                            <% } %>
                        </select>
                        <button type="submit" class="btn btn-primary ">Get Promos</button>
                    </div>
                    
                </form>
                
                <div class="container w-100">
                <% if(locals.error && error !=='' && error !== undefined) { %>
                    <div class="alert alert-warning w-50 m-auto" role="alert">
                        Error: <%= error %>
                    </div>        
                <% } else if (locals.success && success !=='' && success !== undefined) { %>
                    <div class="alert alert-success w-50 m-auto" role="alert">
                        Success: <%= success %>
                    </div>
                <% } %>
                <% if(locals.promosList && promosList.length > 0) { %>
                    <div class="container">
                        <div class="row">
                            <div class="col-1 border d-flex align-items-center justify-content-center py-2">S. No.</div>
                            <div class="col-1 border d-flex align-items-center justify-content-center py-2">Name</div>
                            <div class="col-1 border d-flex align-items-center justify-content-center py-2">Heading</div>
                            <div class="col-2 border d-flex align-items-center justify-content-center py-2">Description</div>
                            <div class="col-2 border d-flex align-items-center justify-content-center py-2">Image</div>
                            <div class="col-1 border d-flex align-items-center justify-content-center py-2">Category</div>
                            <div class="col-1 border d-flex align-items-center justify-content-center py-2">Status</div>
                            <div class="col-1 border d-flex align-items-center justify-content-center py-2">Start Date</div>
                            <div class="col-1 border d-flex align-items-center justify-content-center py-2">End Date</div>                            
                            <div class="col-1 border d-flex align-items-center justify-content-center py-2">Manage</div>
                        </div>
                    </div>                    
                    <% promosList.forEach( (promo, index) => { %>
                        
                        <div class="container">
                            <div class="row">
                                <div class="col-1 border d-flex align-items-center justify-content-center py-2"><%= index + 1 %></div>
                                <div class="col-1 border d-flex align-items-center justify-content-center py-2"><%= promo.name %></div>
                                <div class="col-1 border d-flex align-items-center justify-content-left py-2"><%= promo.caption.heading %></div>
                                <div class="col-2 border d-flex align-items-center justify-content-left py-2"><%= promo.caption.description %></div>
                                <div class="col-2 border d-flex align-items-center justify-content-left py-2">
                                    <img src="/images/promos/<%= promo.imageFilename %>" class="img-fluid" alt="<%= promo.Name %>">
                                </div>
                                <div class="col-1 border d-flex align-items-center justify-content-center py-2"><%= promo.category %></div>
                                <div class="col-1 border d-flex align-items-center justify-content-center py-2"><%= promo.status %></div>
                                <div class="col-1 border d-flex align-items-center justify-content-center py-2"><%= promo.startsOn %></div>
                                <div class="col-1 border d-flex align-items-center justify-content-center py-2"><%= promo.endsOn %></div>
                                <div class="col-1 border d-flex align-items-center justify-content-center py-2">
                                    <div class="row h-100 col-12 d-flex flex-column justify-content-between">
                                        <a href="<%= promo.url %>" class="btn btn-primary my-1">View</a>
                                        <a href="<%= promo.url %>/edit" class="btn btn-primary my-1">Edit</a>
                                        <a href="<%= promo.url %>/delete" class="btn btn-primary my-1">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }); } %>
                    </div>
                </div>

                <div class="card-body  text-center">
                    <a href="/" class="btn btn-primary ">Back To Dashboard</a>
                </div>
            
            
            
        </div>
    </main>
    
<%- include('./partials/footer'); -%>
