<%- include('./partials/headerProtected'); -%>

            <li class="nav-item"><a href="/" class="nav-link ">Dashboard</a></li>
            <li class="nav-item"><a href="/categories" class="nav-link  active">Categories</a></li>            
            <li class="nav-item"><a href="/products" class="nav-link ">Products</a></li>
            <li class="nav-item"><a href="/promos" class="nav-link">Promos</a></li>
            <li class="nav-item"><a href="/orders" class="nav-link">Orders</a></li>
            <li class="nav-item"><a href="/guide" class="nav-link">Guide</a></li>
        </ul>

    </header>

    <main class="flex-shrink-0">
        <!-- <nav>
            <ul class="nav nav-pills justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">All Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Add Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>            
            </ul>
        </nav> -->
        <div class="container py-3  ">

            <!-- <h2 class="mb-4 py-3 border-bottom"><%= title %></h2>             -->
            <p>Welcome, <%= username %> !</p>

            <form method="POST" action="/logout">
                <button class="btn btn-outline-primary me-2">Logout</button>        
            </form>

        </div>
        <hr>
        <div class="container">
            <h2 class="py-2 text-center ">Add a New Category</h2>
            <div class="card-body text-center">
                <a href="/categories/create" class="btn btn-primary ">Add A New Category </a>
            </div>
        </div>
        <hr>
        <div class="container">
            <h2 class="py-2 text-center ">Manage Categories</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4 m-3">
                <% if(locals.allCategoriesList && allCategoriesList.length > 0) { %>
                    <% allCategoriesList.forEach( (category, index) => { %>
                        <div class="col m-6">
                            <div class="card w-75 m-auto text-center">
                                <div class="card-header">
                                    <a class="card-link"  href=<%= category.url %> > <%= `${category.name}` %></a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"><%= category.name %></h5>
                                    <p class="card-text"><%= category.description %></p>
                                </div>
                                <div class="card-body">
                                    <a href=<%= category.url %> class="btn btn-primary ">View </a>
                                    <a href=<%= category.url + '/edit' %> class="btn btn-primary ">Edit </a>
                                    <a href=<%= category.url + '/delete/' %> class="btn btn-primary ">Delete </a>
                                </div>
                            </div>
                        </div>
                        
                    <% }); %>
                <% } else if(locals.error && locals.error !=='' && locals.error !== undefined) { %>
                
                    <div class="alert alert-warning" role="alert">
                        Error: <%= error %>
                    </div>
                    <div class="card-body  text-center">
                        <a href="/categories" class="btn btn-primary ">Back To All Categories</a>
                    </div>
                <% } else { %>
                    <p>No Categories Found</p>
                <% } %>
            
            </div>
            
        </div>
    </main>
    
<%- include('./partials/footer'); -%>
