<%- include('./partials/headerProtected'); -%>

            <li class="nav-item"><a href="/" class="nav-link ">Dashboard</a></li>
            <li class="nav-item"><a href="/categories" class="nav-link  ">Categories</a></li>      
            <li class="nav-item"><a href="/products" class="nav-link  active">Products</a></li>
            <li class="nav-item"><a href="/promos" class="nav-link ">Promos</a></li>
            <li class="nav-item"><a href="/orders" class="nav-link  ">Orders</a></li>
            <li class="nav-item"><a href="/guide" class="nav-link">Guide</a></li>
        </ul>
    </header>

    <main class="flex-shrink-0">
        <div class="container py-3  ">
            
            <p>Welcome, <%= username %> !</p>

            <form method="POST" action="/logout">
                <button class="btn btn-outline-primary me-2">Logout</button>        
            </form>

        </div>
        <hr>
        <div class="container">
            <h2 class="py-2 text-center "><%= title %></h2>            
        </div>
        <hr>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4 m-3">

                <% if(locals.error && error !=='' && error !== undefined) { %>
                    <div class="alert alert-warning w-50 m-auto" role="alert">
                        <%= error %>
                    </div>        
                <% } else if (locals.success && success !=='' && success !== undefined) { %>
                    <div class="alert alert-success w-50 m-auto" role="alert">
                        Success: <%= success %>
                    </div>
                <% } %>
            </div>
            
            <% if(locals.productData && productData !=='' && productData !== undefined) { %>
            <div class="container w-50 m-auto">
                <form method='POST' action="" encType="multipart/form-data">
                    <fieldset>
                        <legend class="mb-4 ">Upload Product Image</legend>
                        <div class="mb-3">
                            <div class="form-label" ><strong> Product Name:</strong> <%= productData.productName %></div>
                            <input type="hidden" name="productName" value=<%= productData.productName %>>
                        </div >
                        <div class="mb-3">
                            <div class="form-label" ><strong>Current Product Image:</strong> </div>
                            <img id="currentProductImage" src="/api/products/image/<%= productData.productImage %> " class="img-fluid rounded">
                            <input type="hidden" name="currProductImage" value=<%= productData.productImage %>>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="productImage"><strong>Upload New Product Image: </strong></label>
                            <input class="form-control" type="file" id="productImage" name="productImage" accept="image/png, image/jpeg" >
                            <div id="productImageError" aria-live="polite"></div>
                        </div>
                    </fieldset>
                    <div class="mb-3 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Update Product Image</button>
                    </div>
                </form>
            </div>
            <hr>
            <div class="card-body text-center">
                <a href="<%= `${productData.productUrl}/edit` %>" class="btn btn-primary ">Edit <%= productData.productName %></a>
            </div>
            <div class="card-body text-center">
                <a href=<%= `${productData.productUrl}` %> class="btn btn-primary ">View <%= productData.productName %></a>
                <a href=<%= `${productData.productUrl}/delete` %> class="btn btn-primary ">Delete <%= productData.productName %></a>
            </div>
            <% } %>
            <hr>
            <div class="card-body  text-center">
                <a href="/products" class="btn btn-primary ">Back To All Products</a>
            </div>
            
        </div>
    </main>
    
    
<%- include('./partials/footer'); -%>
