<%- include('./partials/headerProtected'); -%>

            <li class="nav-item"><a href="/" class="nav-link ">Dashboard</a></li>
            <li class="nav-item"><a href="/categories" class="nav-link ">Categories</a></li>      
            <li class="nav-item"><a href="/allproducts" class="nav-link ">Products</a></li>
            <li class="nav-item"><a href="/promos" class="nav-link active">Promos</a></li>
            <li class="nav-item"><a href="/guide" class="nav-link" >Guide</a></li>
        </ul>
    </header>

    <main class="flex-shrink-0">
        <div class="container py-3  ">

            <p>Welcome, <%= username %> !</p>

            <form method="POST" action="/logout">
                <button class="btn btn-outline-primary me-2">Logout</button>        
            </form>
        </div>
        <hr>
        <div class="container">
            <h2 class="py-2 text-center "><%= title %></h2>            
        </div>
        <hr>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4 m-3">

                <% if(locals.error && error !=='' && error !== undefined) { %>
                    <div class="alert alert-warning w-50 m-auto" role="alert">
                        Error: <%= error %>
                    </div>        
                <% } else if (locals.success && success !=='' && success !== undefined) { %>
                    <div class="alert alert-success w-50 m-auto" role="alert">
                        Success: <%= success %>
                    </div>
                <% } %>
            </div>
         
            
            <div class="row row-cols-1 row-cols-md-1 g-4 m-3">
                <div class="col m-6">
                    <div class="card w-50 m-auto text-center">
                        <% if(locals.promoDetails) { %> 
                        <div class="card-header">
                            <%= promoDetails.name %> Category
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-3 border d-flex align-items-center  py-2">Name:</div>
                                    <div class="col-9 border d-flex align-items-center py-2"><%= promoDetails.name %></div>
                                </div>
                                <div class="row">
                                    <div class="col-3 border d-flex align-items-center py-2">Heading:</div>
                                    <div class="col-9 border d-flex align-items-center py-2"><%= promoDetails.caption.heading %></div>
                                </div>
                                <div class="row">
                                    <div class="col-3 border d-flex align-items-center py-2">Description:</div>
                                    <div class="col-9 border d-flex align-items-center py-2"><%= promoDetails.caption.description %></div>
                                </div>
                                <div class="row">
                                    <div class="col-3 border d-flex align-items-center py-2">Category:</div>
                                    <div class="col-9 border d-flex align-items-center py-2"><%= promoDetails.category %></div>
                                </div>
                                <div class="row">
                                    <div class="col-3 border d-flex align-items-center py-2">Status:</div>
                                    <div class="col-9 border d-flex align-items-center py-2"><%= promoDetails.status %></div>
                                </div>
                                <div class="row">
                                    <div class="col-3 border d-flex align-items-center py-2">Start Date:</div>
                                    <div class="col-9 border d-flex align-items-center py-2"><%= promoDetails.startsOn %></div>
                                </div>
                                <div class="row">
                                    <div class="col-3 border d-flex align-items-center py-2">End Date:</div>
                                    <div class="col-9 border d-flex align-items-center py-2"><%= promoDetails.endsOn %></div>
                                </div>
                                <div class="row">
                                    <div class="col-3 border d-flex align-items-center py-2">Promo Image:</div>
                                    <div class="col-9 border d-flex align-items-center py-2">
                                        <img src="/images/promos/<%= promoDetails.imageFilename %>" class="img-thumbnail">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title alert alert-warning">Are you sure you want to delete the Promo: <%= promoDetails.name %>?</h6>
                            <form method="POST" action="">
                                <input class="form-control" type="hidden" id="promoId" name="promoId" value='<%= promoDetails._id  %>' />
                                <button type="submit" class="btn btn-primary ">Delete <%= promoDetails.name %></button>
                                <a href=<%= `${promoDetails.url}` %> class="btn btn-primary ">Cancel <%= promoDetails.name %></a>
                            </form>
                        </div>
                        <hr>
                        <div class="card-body">
                            <a href=<%= `${promoDetails.url}` %> class="btn btn-primary ">View <%= promoDetails.name %></a>
                            <a href=<%= `${promoDetails.url}/edit` %> class="btn btn-primary ">Edit <%= promoDetails.name %></a>
                        </div>
                        <% } %>
                        <hr>
                        <div class="card-body  text-center">
                            <a href="/promos" class="btn btn-primary ">Back To All Promos</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </main>
    
<%- include('./partials/footer'); -%>
