<%- include('./partials/headerProtected'); -%>

            <li class="nav-item"><a href="/" class="nav-link ">Dashboard</a></li>
            <li class="nav-item"><a href="/categories" class="nav-link ">Categories</a></li>      
            <li class="nav-item"><a href="/products" class="nav-link ">Products</a></li>
            <li class="nav-item"><a href="/promos" class="nav-link active">Promos</a></li>
            <li class="nav-item"><a href="/guide" class="nav-link" >Guide</a></li>
        </ul>
    </header>

    <main class="flex-shrink-0">
        <div class="container py-3  ">

            <p>Welcome, <%= username %> !</p>

            <form method="POST" action="/logout">
                <button class="btn btn-outline-primary me-2">Logout</button>        
            </form>
        </div>
        <hr>
        <div class="container">
            <h2 class="py-2 text-center "><%= title %></h2>            
        </div>
        <hr>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4 m-3">

                <% if(locals.error && error !=='' && error !== undefined) { %>
                    <div class="alert alert-warning w-50 m-auto" role="alert">
                        <%= error %>
                    </div>        
                <% } else if (locals.success && success !=='' && success !== undefined) { %>
                    <div class="alert alert-success w-50 m-auto" role="alert">
                        Success: <%= success %>
                    </div>
                <% } %>
            </div>         
            <% if(locals.promoDetails) { %> 
             <div class="container w-50 m-auto">
                <form method='POST' action="" >
                    <fieldset>
                        <legend class="mb-4 ">Edit Promo Details</legend>
                        <div class="mb-3">
                            <label class="form-label" for="promoName">Promo Name: </label>
                            <input class="form-control" type="text" id="promoName" name="promoName" required minlength="3" maxlength="30" required pattern="^[a-zA-Z0-9.\-_\(\) ]{3,30}$" value="<%= promoDetails.name %>">
                            <div id="promoNameError" aria-live="polite"></div>
                            <input class="form-control" type="hidden" id="promoId" name="promoId" value="<%= promoDetails.id %>" >
                        </div >
                        <div class="mb-3">
                            <label class="form-label" for="promoCaption">Promo Caption Heading: </label>
                            <textarea class="form-control" type="text" id="promoCaption" name="promoCaption" minlength="5" maxlength="100" required><%= promoDetails.caption.heading %></textarea>
                            <div id="promoCaptionError" aria-live="polite"></div>
                        </div >
                        <div class="mb-3">
                            <label class="form-label" for="promoDescription">Promo Description: </label>
                            <textarea class="form-control" type="text" id="promoDescription" name="promoDescription" minlength="5" maxlength="100" required><%= promoDetails.caption.description %></textarea>
                            <div id="promoDescriptionError" aria-live="polite"></div>
                        </div >
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="promoCategory">Category</label>
                            <select class="form-select" id="promoCategory" name="promoCategory">
                                <option value='choose'>Choose Promo Category...</option>
                                <% if(locals.promoCategoryList && promoCategoryList.length > 0) { %>
                                    <% promoCategoryList.forEach((category => { %>
                                        <option value='<%= category.id %>' <% if(promoDetails.category && category.name == promoDetails.category) { %> selected <% } %> ><%= category.name %></option>
                                    <% })) %>
                                <% } %>
                            </select>
                            <div id="promoCategoryError" aria-live="polite"></div>
                        </div>
                        <div class="mb-3">
                            <div class="form-label" >Current Promo Image: </div>
                            <img id="currentPromoImage" src="/images/promos/<%= promoDetails.imageFilename %>" class="img-fluid rounded">
                            <input class="form-control" type="hidden" id="promoImageName" name="promoImageName" value="<%= promoDetails.imageFilename %>" >
                        </div>                         
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="promoStatus">Promo Status</label>
                            <select class="form-select" id="promoStatus" name="promoStatus">
                                <option value='choose'>Choose Promo Status...</option>                                
                                <option value="Active" <% if(promoDetails.status && promoDetails.status == "Active") { %> selected <% } %> >Active</option>
                                <option value="Expired" <% if(promoDetails.status && promoDetails.status == "Expired") { %> selected <% } %> >Expired</option>
                            </select>
                            <div id="promoStatusError" aria-live="polite"></div>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="promoStartDate">Promo Start Date</label>
                            <input class="form-control" type="date" id="promoStartDate" name="promoStartDate" value="<%= promoDetails.startsOn %>"/>
                        </div>                        
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="promoEndDate">Promo End Date</label>
                            <input class="form-control" type="date" id="promoEndDate" name="promoEndDate" value="<%= promoDetails.endsOn %>"/>
                        </div>
                    </fieldset>
                    <div class="mb-3 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Update promo</button>
                    </div>
                </form>
            </div>
             <hr>
            <div class="card-body text-center">
                <a href="<%= `${promoUrl}/edit/image` %>" class="btn btn-primary ">Change Image: <%= promoDetails.name %></a>
            </div>
            <div class="card-body text-center">
                <a href=<%= `${promoUrl}` %> class="btn btn-primary ">View <%= promoDetails.name %></a>
                <a href=<%= `${promoUrl}/delete` %> class="btn btn-primary ">Delete <%= promoDetails.name %></a>
            </div>
            <% } %> 
            <hr>
            <div class="card-body  text-center">
                <a href="/promos" class="btn btn-primary ">Back To All Promo</a>
            </div>
            
        </div>
    </main>
    
<%- include('./partials/footer'); -%>
